fig/b3c2_5_F-eps-converted-to.pdf
fig/demo_b6_rf-eps-converted-to.pdf
fig/b3c2_5_T-eps-converted-to.pdf
fig/b3c2_5_s-eps-converted-to.pdf
fig/b3c2_5_sTF-eps-converted-to.pdf
fig/bic_cluster2-eps-converted-to.pdf
fig/bic_cluster1-eps-converted-to.pdf
fig/demo_b1_T-eps-converted-to.pdf
fig/demo_b4_T-eps-converted-to.pdf
fig/bic_cluster3-eps-converted-to.pdf
fig/demo_b1_s-eps-converted-to.pdf
fig/demo_b4_rf-eps-converted-to.pdf
fig/demo_b4_s-eps-converted-to.pdf
fig/demo_b5_T-eps-converted-to.pdf
fig/demo_b5_s-eps-converted-to.pdf
fig/demo_b5_rf-eps-converted-to.pdf
fig/demo_b6_T-eps-converted-to.pdf
fig/demo_b6_s-eps-converted-to.pdf
fig/heatmap_all4-eps-converted-to.pdf
*.log
*.aux
*.blg
*.out
*.spl
*.bak
*.synctex
*.sav